{% extends "date/base.html" %}

{% block content %}
<div class="container text-center" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <h1>로그인</h1>
      <form method="post" action="{% url 'users:login' %}">
        {% csrf_token %}
        {% include 'users/form_errors.html' %}
          <div>
            <label> User ID </label>
            <input type="text" name="username" id="username">
          </div>
        </br>
          <div>
            <label> User PW </label>
            <input type="password" name="password" id="password">
          </div>
        </br>
          <button class="btn" type="submit">로그인</button>
          <a class ="btn" href="{% url 'users:signup' %}">회원가입</a>
      </form>
</div>

{% endblock %}
