{% extends "date/base.html" %}

{% block content %}

</br></br>
<div class="container text-center d-flex justify-content-center" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="card" style="width: 40rem;">
       <div class="card-header text-white" style="background-color:#FC4C60;">
        <h1>로그인</h1>
       </div>
    </br>
        <form method="post" action="{% url 'users:login' %}">
          {% csrf_token %}
          {% include 'users/form_errors.html' %}
            <div>
              <label> User ID </label>
              <input type="text" name="username"  id="username">
            </div>
          </br>
            <div>
              <label> User PW </label>
              <input type="password"name="password" id="password">
            </div>
          </br>
          <div class="d-grid gap-3 col-6 mx-auto">
            <button class="btn btn-long text-white" style="background-color:#FC4C60;" type="submit">로그인</button>
            <a class ="btn text-white "style="background-color:#FC4C60;" href="{% url 'users:signup' %}">회원가입</a>
            </br>
          </div>
        </form>
  </div>
</div>

{% endblock %}
