{% extends "date/base.html" %}


{% block main_area %}

<!--{% if user.is_authenticated %}-->
<!--    {% if user.is_superuser or user %}-->

<!--        <a class="btn btn btn-sm text-white" style="background-color: #FC4C64;" href="/date/post_review/" role="button">-->
<!--            <i class="fa-solid fa-pen-to-square" ></i>  글 쓰기-->
<!--        </a>-->
<!--    {% endif %}-->
<!--{% endif %}글쓰기 코드 -->

{% if review_list.exists %}
{% for p in review_list %}
<!-- Review post-->
<div class="card mb-4" id="post-{{ p.pk }}">
    <div class ="row">
    </div>
        <div class="card-body">
            <div class="small text-muted"> {{ p.created_at }}</div>
            </br>
            <h2 class="card-title h4">{{ p.title }}</h2>
            </br>
            <h5 class="card-title h6">{{ p.content }}</h5>
            <br/>
            <br/>
            <a class="btn text-white float-end" style="background-color: #FC4C64;" href="/review/{{p.pk}}/">상세 보기 →</a>
        </div>
        <div class="card-footer text-white" style="background-color: #FC4C64; text-decoration: none; color: black"> {{ p.created_at }}
        <a href="#" style="text-decoration: none; color: white" >{{ p.author | upper }}</a>
    </div>
    </div>
            {% endfor %}
            {% else %}
            <h3> 아직 게시물이 없습니다.</h3>
            {% endif %}
 <!-- Pagination-->
    <nav aria-label="Pagination">
        <hr class="my-0" />
        <ul class="pagination justify-content-center my-4" >
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" style="background-color: #FFFFFF;" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Newer</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" style="background-color: #FFFFFF;" href="#!" tabindex="-1" aria-disabled="True">Newer</a></li>
            {% endif %}
            {% for page in paginator.page_range %}
                {% if page == page_obj.number %}
                    <li class="page-item active" aria-current="page"><a class="page-link" style="background-color: #FC4C64;" href="?page={{ page }}">{{ page }}</a></li>
                {% else %}
                    <li class="page-item" aria-current="page"><a class="page-link" style="background-color: #FC4C64;" href="?page={{ page }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" style="background-color: #FFFFFF;" href="?page={{ page_obj.next_page_number }}">Older</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" style="background-color: #FFFFFF;" href="#">Older</a></li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}